<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vintélo</title>
    <link rel="stylesheet" href="css/menu.css">

    <link rel="icon" href="/imagens/brilhoescuro.png" type="image/x-icon">
    
</head>
<body>
    <header>
        <section class="top-bar">
            <p>10% OFF na primeira compra</p>
        </section>
        <section class="main-header">
            <a href="/homecomprador">
            <img src="imagens/logo.png" class="img-logo">
            </a>
            <nav>
                <a href="/categorias">Vestidos</a>
                <a href="/categorias">Saias</a>
                <a href="/categorias">Blusas</a>
                <a href="/categorias">Calças</a>
                <a href="/categorias">Outros</a>
            </nav>
            <section class="search-profile">
                <form>
                    <input type="text" placeholder="Buscar...">
                </form>
                <ul>
                    <li><a href="#" ></a><img src="imagens/add brecho.png" class="img-tamanho"> </li>
                    <li><a href="#" ></a><img src="imagens/maria.png" class="maria"> </li>
                    <li><a href="#" ><img src="imagens/icone coraçao.png" class="img-tamanho"> </a></li>
                </ul>
            </section>
        </section>
    </header>
    
    <main>
        <aside class="user-sidebar">
            <section class="user-info">
                <img src="imagens/maria.png" alt="Foto de perfil de Maria de Lourdes">
                <h2>Maria de Lourdes</h2>
                <p>maria.lourdes@exemplo.com</p>
            </section>
            <nav class="user-menu">
                <a href="#">Geral</a>
                <a href="/criarbrecho">Criar Brechó</a>
                <a href="#">Informação da conta</a>
                <a href="/sacola1">Sacola</a>
                <a href="/menucompras">Minhas compras</a>
                <a href="#">Meus cartões</a>
                <a href="/menufavoritos">Favoritos</a>
                <a href="/blog">Blog</a>
                <a href="#">Sair</a>
            </nav>
        </aside>

        <section class="user-content">
            <section class="orders">
                <center><img src="imagens/favoritos.png" class="img-responsiva"></center>
        <!-- Informações de lista -->
        <section class="list-info">
            <p class="favorite"> Favorite uma peça</p>
        </section>
    <main class="product-list">
        <article class="product">
            <img src="imagens/conjunto.png" alt="Saia Branca">
            <p>Saia Branca</p>
            <p>R$25,00</p>
        </article>

        <article class="product">
            <img src="imagens/saia preta brilhante.png" alt="Saia Preta">
            <p>Saia Preta Com Brilho</p>
            <p>R$30,00</p>
        </article>

        <article class="product">
            <img src="imagens/saia marrom.png" alt="Saia Marrom">
            <p>Saia De Veludo Marrom</p>
            <p>R$25,00</p>
        </article>

        <article class="product">
            <img src="imagens/calça reta.png" alt="Calça Jeans">
            <p>Calça Reta Jeans Clara</p>
            <p>R$49,99</p>
        </article>

        <article class="product">
            <img src="imagens/saia preta brilhante.png" alt="Conjunto Preto">
            <p>Conjunto saia preta c/ brilho + Top preto</p>
            <p>R$57,00</p>
        </article>

        <article class="product">
            <img src="imagens/vestido pink.png" alt="Vestido Rosa">
            <p>Vestido rosa longo</p>
            <p>R$15,00</p>
        </article>
    </main>

    <!-- Botão de Ver Mais -->
    <nav class="load-more">
        <button>Ver mais</button>
    </nav>

            </section>
        </section>
    </main>
</body>
</html>
