<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vintélo</title>
    <link rel="stylesheet" href="css/menu.css">

    <link rel="icon" href="/imagens/brilhoescuro.png" type="image/x-icon">
    
</head>
<body>
    <header>
        <section class="top-bar">
            <p>10% OFF na primeira compra</p>
        </section>
        <section class="main-header">
            <a href="/homecomprador">
            <img src="imagens/logo.png" class="img-logo">
            </a>
            <nav>
                <a href="/categorias">Vestidos</a>
                <a href="/categorias">Saias</a>
                <a href="/categorias">Blusas</a>
                <a href="/categorias">Calças</a>
                <a href="/categorias">Outros</a>
            </nav>
            <section class="search-profile">
                <form>
                    <input type="text" placeholder="Buscar...">
                </form>
                <ul>
                    <li><a href="#" ></a><img src="imagens/add brecho.png" class="img-tamanho"> </li>
                    <li><a href="#" ></a><img src="imagens/maria.png" class="maria"> </li>
                    <li><a href="#" ><img src="imagens/icone coraçao.png" class="img-tamanho"> </a></li>
                </ul>
            </section>
        </section>
    </header>
    
    <main>
        <aside class="user-sidebar">
            <section class="user-info">
                <img src="imagens/maria.png" alt="Foto de perfil de Maria de Lourdes">
                <h2>Maria de Lourdes</h2>
                <p>maria.lourdes@exemplo.com</p>
            </section>
            <nav class="user-menu">
                <a href="#">Geral</a>
                <a href="/criarbrecho">Criar Brechó</a>
                <a href="#">Informação da conta</a>
                <a href="/sacola1">Sacola</a>
                <a href="/menucompras">Minhas compras</a>
                <a href="#">Meus cartões</a>
                <a href="/menufavoritos">Favoritos</a>
                <a href="/blog">Blog</a>
                <a href="#">Sair</a>
            </nav>
        </aside>

        <section class="user-content">
            <main class="main">
            <section class="order-section">
              <section class="order-date">15 de Agosto</section>
              <section class="order-card">
                <img src="imagens/vestido branco.png" alt="Vestido Branco Longo" class="product-image">
                <section class="order-info">
                  <h2 class="product-title">Vestido Branco Longo</h2>
                  <p class="status in-progress">A caminho</p>
                  <p class="delivery-info">Chegará hoje antes das 21h</p>
                </section>
              </section>
        
              <section class="order-date">24 de Julho</section>
              <section class="order-card">
                <img src="imagens/vestido roxo2.png" alt="Vestido Magenta com Decote" class="product-image">
                <section class="order-info">
                  <h2 class="product-title">Vestido Magenta com Decote</h2>
                  <p class="status canceled">Pedido cancelado</p>
                  <p class="delivery-info">Reembolsamos seu dinheiro na conta em que você pagou via PIX</p>
                </section>
              </section>
        
              <section class="order-date">11 de Junho</section>
              <section class="order-card">
                <img src="imagens/regata branca.png" alt="Regata Branca" class="product-image">
                <section class="order-info">
                  <h2 class="product-title">Regata Branca</h2>
                  <p class="status delivered">Entregue</p>
                  <p class="delivery-info">Chegou no dia 13 de julho</p>
                </section>
              </section>
        
              <section class="order-date">05 de Maio</section>
              <section class="order-card">
                <img src="imagens/conjunto de blusa rosa.png" alt="Conjunto Rosa de Malha" class="product-image">
                <section class="order-info">
                  <h2 class="product-title">Conjunto Rosa de Malha</h2>
                  <p class="status delivered">Entregue</p>
                  <p class="delivery-info">Chegou no dia 13 de maio</p>
                </section>
              </section>
            </section>
          </section>
            </section>
        </section>
    </main>
</body>
</html>
