<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vintélo</title>
    <link rel="stylesheet" href="css/menu.css">

    <link rel="icon" href="/imagens/brilhoescuro.png" type="image/x-icon">
    
</head>
<body>
    <header>
        <section class="top-bar">
            <p class="top-bar">10% OFF na primeira compra</p>
        </section>
        <section class="main-header">
            <a href="/homecomprador">
            <img src="imagens/logo.png" class="img-logo">
            </a>
            <nav>
                <a href="/categorias">Vestidos</a>
                <a href="/categorias">Saias</a>
                <a href="/categorias">Blusas</a>
                <a href="/categorias">Calças</a>
                <a href="/categorias">Outros</a>
            </nav>
            <section class="search-profile">
                <form>
                    <input type="text" placeholder="Buscar...">
                </form>
                <ul>
                    <li><a href="/criarbrech" ></a><img src="imagens/add brecho.png" class="img-tamanho"> </li>
                    <li><a href="#" ><img src="imagens/imagem sem cadastro.avif" class="maria"></a> </li>
                    <li><a href="/carrinho" ><img src="imagens/carrinho3.png" class="img-tamanho"> </a></li>
                    <li><a href="/favoritos" ><img src="imagens/icone coraçao.png" class="img-tamanho"> </a></li>
                </ul>
            </section>
        </section>
    </header>
    
    <main>
        <aside class="user-sidebar">
            <section class="user-info">
                <img src="imagens/imagem sem cadastro.avif" alt="Foto de perfil de Maria de Lourdes">
                <h2>laviviana</h2>
                <p>email@exemplo.com</p>
            </section>
            <nav class="user-menu">
                <a href="#">Geral</a>
                <a href="/criarbrecho">Criar Brechó</a>
                <a href="/perfilcliente">Informação da conta</a>
                <a href="/sacola1">Sacola</a>
                <a href="/menucompras">Minhas compras</a>
                <a href="#">Meus cartões</a>
                <a href="/menufavoritos">Favoritos</a>
                <a href="/blogdesktop">Blog</a>
                <a href="#"> Sair</a>
            </nav>
        </aside>

        <section class="user-content">
            <section class="orders">
                <h3>Minhas compras</h3>
                <section class="empty-box">
                    <img src="imagens/compras vazia.png" alt="Ícone de caminhão vazio">
                    <p>Você ainda não realizou nenhuma compra</p>
                </section>
            </section>
            <br>
            <br>
            <section class="favorites">
                <h3>Favoritos</h3>
                <section class="empty-box">
                    <img src="imagens/coraçao vazio.png" alt="Ícone de coração vazio">
                    <p>Você ainda não favoritou nenhuma peça ou brechó</p>
                </section>
            </section>
        </section>
    </main>
</body>
</html>
