<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vintélo</title>
  <link rel="stylesheet" href="css/pedidoconf.css">

  <link rel="icon" href="/imagens/brilhoescuro.png" type="image/x-icon">
  
</head>
<body>

  <section class="oculto-mobile">
    <header1>
      <section class="top-bar">
          <p>10% OFF na primeira compra</p>
      </section>
      <section class="main-header">
          <a href="/homecomprador">
          <img src="imagens/logo.png" class="img-logo">
          </a>
          <nav>
              <a href="/categorias">Vestidos</a>
              <a href="/categorias">Saias</a>
              <a href="/categorias">Blusas</a>
              <a href="/categorias">Calças</a>
              <a href="/categorias">Outros</a>
          </nav>
          <section class="search-profile">
              <form>
                  <input type="text" placeholder="Buscar...">
              </form>
              <ul>
                  <li><a href="/menu" ><img src="imagens/maria.png" class="img-tamanho"></a></li>
                  <li><a href="/criarbrecho" ></a><img src="imagens/add brecho.png" class="img-tamanho"> </li>
                  <li><a href="favoritos" ><img src="imagens/icone coraçao.png" class="img-tamanho"> </a></li>
              </ul>
          </section>
      </section>
  </header>
  </section>
  <section class="container">
    <section class="oculto-desktop">
    <header>
        <nav class="grid">
            <a href="/homecomprador">
              <img src="imagens/seta.png" alt="Seta Voltar">
            </a>
        </nav>
    </header>
  </section>
  <main>
    <section class="oculto-desktop">
    <section class="confirmation-section">
      <section class="illustration">
        <img src="imagens/pedidoconfirmado.png" class="pedidoconf" >
      </section>
      <br>
      <br>
      <h1>Pedido confirmado!</h1>
      <p>Seu pedido foi confirmado, enviaremos um e-mail de confirmação em breve.</p>
      <a href="/minhascompras"><button class="view-orders-button">Ver minhas compras</button></a>
    </section>
    </section>
  </section>

  <section class="oculto-mobile">
    <section class="confirmation">
      <section class="icon-circle">
          <img src="imagens/pedidoconfirmado.png" class="img-responsive">
      </section>
      <h1>Pedido confirmado!</h1>
      <p>Seu pedido foi confirmado, enviaremos um e-mail de confirmação em breve.</p>
      <br>
      <button class="continue-shopping-button2"><a href="/minhascomprasdesktop" class="link-branco">Ver minhas compras</a></button>
  </section>
  </section>
  </main> 
    <section class="oculto-desktop">
    <section class="buttons-section">
     <button class="continue-shopping-button"> <a href="/homecomprador">Continue comprando</a></button>
    </section>
  </section>
      <!--                                                    Rodapé                                                      -->
      <footer class="footer">
  <section class="oculto-mobile">
  <img src="imagens/logo2.jpeg" alt="Imagem do Rodapé" class="footer-image">
  <section class="social-media">
    <p class="p-footer">Siga nossas redes sociais</p>
    <ul class="social-links">
      <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/Facebook.png" alt="Facebook"></a></li>
      <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/Pinterest.png" alt="Pinterest"></a></li>
      <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/Instagram.png" alt="Instagram"></a></li>
    </ul>
  </section>
   <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
  </section>
  </footer>
</body>
</html>