<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vintélo</title>
    <link rel="stylesheet" href="css/produtos.css">
    <link rel="stylesheet" href="css/produtos2.css">

    <link rel="icon" href="/imagens/brilhoescuro.png" type="image/x-icon">
    
</head>
<body>
    <section class="oculto-mobile">
        <section class="top-bar">
            <p>10% OFF na primeira compra</p>
        </section>
        <header1>
            <section class="main-header">
                <a href="/homecomprador">
                <img src="imagens/logo.png" class="img-logo">
                </a>
                <nav>
                    <a href="#">Vestidos</a>
                    <a href="#">Saias</a>
                    <a href="#">Blusas</a>
                    <a href="#">Calças</a>
                    <a href="#">Outros</a>
                </nav>
                <section class="search-profile">
                    <form>
                        <input type="text" placeholder="Buscar...">
                    </form>
                    <ul>
                        <li><a href="/criarbrecho" ></a><img src="imagens/add brecho.png" class="img-tamanho"> </li>
                        <li><a href="/cadastro" ></a><img src="imagens/icone sem cadastro.png" class="maria"> </li>
                        <li><a href="favoritos" ><img src="imagens/icone coraçao.png" class="img-tamanho"> </a></li>
                    </ul>
                </section>
            </section>
        </header>
    </section>
    <section class="oculto-desktop">
    <header>
      <nav class="grid">
        <a href="/">
         <img src="imagens/seta.png">
        </a>
        <img src="imagens/logo.png">
         <img src="imagens/foto-branca.png" alt="Descrição da Imagem" />
      </nav>
    </header>
    <img src="imagens/regata branca.jpeg" alt="img-responsiva" class="main-image">
</section>
       <section class="product-view">
    <main>
                <center><img src="imagens/fila-regatas.png" alt="img-responsiva"></center>
          <section class="produto-container">
            <h1>Regata Branco </h1>
            <section class="preco">
                <p>R$19,99</p>
                <span>2x R$10,00</span>
            </section>
            <section class="tamanho-disponivel">
                <h1>Tamanho Disponível</h1>
                <section class="tamanho">P</section>
            </section>
            <section class="descricao">
                <h1>Descrição</h1>
                <p><strong>Cor:</strong> Branco</p>
                <p><strong>Estilo:</strong> Casual</p>
                <p><strong>Estampa:</strong> Simples</p>
                <p><strong>Detalhes:</strong> Enrugado, Vazado /Dividido, Torcido</p>
                <p><strong>Condições:</strong> Semi-novo</p>
            </section>
          </section>

          <section class="tamanhos-alternativos">
            <p>Seu tamanho não está disponível? Encontre peças similares:</p>
            <section class="opcoes-tamanho">
                <span>PP</span>
                <span>M</span>
                <span>G</span>
                <span>GG</span>
                <span>EG</span>
                <span>EGG</span>
            </section>
        </section>
        </section>
    <section class="produtos-ocultos">
    <main class="produto-container">
        <section class="imagem-produto">
            <img src="imagens/regata branca.jpeg" alt="Vestido branco com decote">
        </section>

        <section class="info-produto">
            <nav class="breadcrumb">
                <a href="#">Home</a> >
                <a href="#">Filtros</a> >
                <a href="#">Vestidos</a>
            </nav>

            <h1 class="titulo-produto">Regata Branca</h1>

            <section class="preco-produto">
                <span>R$ 19,99</span>
                <p>ou em 2x de R$ 10,00</p>
            </section>

            <section class="tamanho-disponivel">
                <h3>Tamanho disponível</h3>
                <button class="btn-tamanho">P</button>
            </section>

            <section class="descricao-produto">
                <h3>Descrição</h3>
                <ul>
                    <li>Cor: Branco</li>
                    <li>Estilo: Sensual</li>
                    <li>Estampa: Simples</li>
                    <li>Detalhes: Enrugado, Vazado / Dividido, Torcido</li>
                    <li>Condições: Semi-novo</li>
                </ul>
            </section>

            <button class="btn-sacola"><a href="/finalizandocompra2" class="link-branco">Adicionar à sacola</button></a>

            <section class="tamanhos-alternativos">
                <p class="detalhe"><b>Seu tamanho não está disponível? Encontre peças similares:</b></p>
                <section class="opcoes-tamanho">
                    <span>PP</span>
                    <span>M</span>
                    <span>G</span>
                    <span>GG</span>
                    <span>EG</span>
                    <span>EGG</span>
                </section>
            </section>
        </section>
      </section>
           <!--                                        PRODUTOS OCULTOS                                               -->
           <section class="produtos-ocultos">
            <nav class="grid-produtos">
              <h1>Confira</h1>
              <a href="/categorias" class="ver-tudo">Ver tudo</a>
            </nav>
              <section class="product-grid">
                <article class="product-card">
                    <img src="imagens/oculos.png" alt="Óculos de sol">
                    <h2>Óculos de sol</h2>
                    <br>
                    <p class="price">R$12,00</p>
                    <button class="favorite"><img src="imagens/coraçao de fav2.png"></button>
                    <button class="cart"><img src="imagens/sacola.png" class="img-sacola"></button>
                </article>
        
                <article class="product-card">
                    <img src="imagens/colar.png" alt="Conjunto 3 colares de prata">
                    <h2>Conjunto 3 cores de prata</h2>
                    <p class="price">R$29,99 <br>ou em 2x R$15,00</p>
                    <button class="favorite"><img src="imagens/coraçao de fav2.png"></button>
                    <button class="cart"><img src="imagens/sacola.png"class="img-sacola"></button>
                </article>
        
                <article class="product-card">
                    <img src="imagens/bolsa.png" alt="Bolsa preta com alça dourada">
                    <h2>Bolsa preta com alça dourada</h2>
                    <p class="price">R$20,00 <br>ou em 2x R$10,00</p>
                    <button class="favorite"><img src="imagens/coraçao de fav2.png"></button>
                    <button class="cart"><img src="imagens/sacola.png"class="img-sacola"></button>
                </article>
        
                <article class="product-card">
                    <img src="imagens/aneis.png" alt="Anel de prata">
                    <h2>Anel de prata</h2>
                    <br>
                    <p class="price">R$15,00</p>
                    <button class="favorite"><img src="imagens/coraçao de fav2.png"></button>
                    <button class="cart"><img src="imagens/sacola.png"class="img-sacola"></button>
                </article>
              </section>

            <section class="product-grid">
                <article class="product-card">
                    <img src="imagens/pulseira.png" alt="Bracelete">
                    <h2>Bracelete</h2>
                    <p class="price">R$19,99 <br>ou em 2x R$10,00</p>
                    <button class="favorite"><img src="imagens/coraçao de fav2.png"></button>
                    <button class="cart"><img src="imagens/sacola.png" class="img-sacola"></button>
                </article>
        
                <article class="product-card">
                    <img src="imagens/relogios.png" alt="Relógio Rose Gold">
                    <h2>Relógio Rose Gold</h2>
                    <p class="price">R$29,99 <br>ou em 2x R$15,00</p>
                    <button class="favorite"><img src="imagens/coraçao de fav2.png"></button>
                    <button class="cart"><img src="imagens/sacola.png"class="img-sacola"></button>
                </article>
        
                <article class="product-card">
                    <img src="imagens/bolsa brilhante.png" alt="Salto preto com prata">
                    <h2>Bolsa Brilhante</h2>
                    <p class="price">R$29,99 <br>ou em 2x R$15,00</p>
                    <button class="favorite"><img src="imagens/coraçao de fav2.png"></button>
                    <button class="cart"><img src="imagens/sacola.png"class="img-sacola"></button>
                </article>
        
                <article class="product-card">
                    <img src="imagens/BraceleteDuplo.png" alt="Bracelete Duplo">
                    <h2>Bracelete Duplo</h2>
                    <p class="price">R$28,90 <br>ou em 2x R$14,45</p>
                    <button class="favorite"><img src="imagens/coraçao de fav2.png"></button>
                    <button class="cart"><img src="imagens/sacola.png"class="img-sacola"></button>
                </article>

                <article class="product-card">
                      <a href="/produto2"><img src="imagens/vestido marrom.png" alt="Vestido marrom com decote"></a>
                      <h2>Vestido Marrom Com Decote</h2>
                      <p class="price">R$49,99</p>
                      <button class="favorite"><img src="imagens/coraçao de fav2.png"></button>
                      <button class="cart"><img src="imagens/sacola.png" class="img-sacola"></button>
                  </article>
          
                  <article class="product-card">
                      <a href="/produto3"><img src="imagens/vestido com botoes.png" alt="Vestido com botao"></a>
                      <h2>Vestido Longo Com Botoes</h2>
                      <p class="price">R$39,99</p>
                      <button class="favorite"><img src="imagens/coraçao de fav2.png"></button>
                      <button class="cart"><img src="imagens/sacola.png"class="img-sacola"></button>
                  </article>
          
                  <article class="product-card">
                      <a href="/produto4"><img src="imagens/saia cargo.png" alt="Saia cargo"></a>
                      <h2>Saia Cargo Jeans</h2>
                      <p class="price">R$29,99</p>
                      <button class="favorite"><img src="imagens/coraçao de fav2.png"></button>
                      <button class="cart"><img src="imagens/sacola.png"class="img-sacola"></button>
                  </article>
          
                  <article class="product-card">
                      <a href="/produto1"><img src="imagens/saia longa.png" alt="saia longa"></a>
                      <h2>Saia Longa Jeans</h2>
                      <p class="price">R$19,99</p>
                      <button class="favorite"><img src="imagens/coraçao de fav2.png"></button>
                      <button class="cart"><img src="imagens/sacola.png"class="img-sacola"></button>
                  </article>
            </section>
          </section>
    </main>
       
             <button type="submit" class="submit-btn"> <a href="/finalizandocompra2" class="link-branco">Adicionar à Sacola</a></button>
       <section class="oculto-mobile">
            <!--                                                    Rodapé                                                      -->
    <footer class="footer">
        <img src="imagens/logo2.jpeg" alt="Imagem do Rodapé" class="footer-image">
        <section class="social-media">
          <p class="p-footer">Siga nossas redes sociais</p>
          <ul class="social-links">
            <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/Facebook.png" alt="Facebook"></a></li>
            <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/Pinterest.png" alt="Pinterest"></a></li>
            <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/Instagram.png" alt="Instagram"></a></li>
          </ul>
        </section>
         <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
      </footer>
       </section>

    <script>
        window.isAuthenticated = <%= typeof autenticado !== 'undefined' && autenticado && autenticado.autenticado ? 'true' : 'false' %>;
    </script>
    <script src="/js/favoritos-global.js"></script>
</body>
</html>