/*                        oculto para mobile                        */
.produtos-ocultos{
    padding: 50px;
  }
  a {
    text-decoration: none;
    color: #000000;
  }
  
  .produto-container {
    display: flex;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    border-radius: 10px;
  }
  
  /*                     Estilos da imagem do produto                   */
  .imagem-produto {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imagem-produto img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
  }
  
  /*                      Estilos da descrição do produto               */
  .info-produto {
    flex: 1;
    padding: 20px;
    text-align: left;
  }
  
  .breadcrumb {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .titulo-produto {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left;
  }
  
  .preco-produto {
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .preco-produto p {
    font-size: 14px;
    color: #666;
    text-align: left;
  }
  
  .tamanho-disponivel h3,
  .descricao-produto h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .btn-tamanho {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7b2f35;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .descricao-produto ul {
    list-style-type: none;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .descricao-produto ul li {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
      text-align: left;
  }
  
  .btn-sacola {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: #7b2f35;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .tamanhos-alternativos {
    font-size: 14px;
    color: #666;
  }
  
  .opcoes-tamanho {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .opcoes-tamanho span {
    padding: 8px 12px;
    background-color: #f5f5f5;
    padding: 15px;
    font-size: 16px;
    color: #333;
    border-radius: 4px;
    display: inline-block;
    margin-top: 5px;
  }
  /*                   produtos semelhantes                          */
  .product-list {
    display: flex;
    gap: 16px;
    padding: 10px;
    overflow-x: auto;
  }
  
  .product-suggestion {
    text-align: center;
    list-style: none;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.274);
  }
  
  .product-suggestion img {
    width: auto;
    border-radius: 8px;
    margin-bottom: 8px;
  }
  
  .product-suggestion p {
    font-size: 14px;
    color: #888;
    text-align: left;
  }

  .adicionar-compra {
  width: 100%;
  padding: 5px 15px 5px;
  background-color: #8a1f41;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
  /*                    Estilos para a seção de produtos                          */
  h3 {
    font-size: 40px;
    color: #000000;
  }

  .detalhe{
    font-size: 20px;
    color: #000000;
  }
  
  .titulo-categoria{
    font-size: 40px;
    color: #7a2d39;
    text-align: left;
  }
  
  .titulo-categoria2{
    font-size: 40px;
    color: #7a2d39;
    text-align: end;
  }
  
  .ver{
    font-size: 40px;
    color: #464344;
  }
  
  .img-sacola{
    width: 10px;
    height: auto;
  }
  
  .grid-produtos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    gap: 3rem;
    padding: 20px 80px;
  }
  
  .product-card {
    background-color: #fff;
    border-radius: 40px;
    padding: 5px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.274);
  }
  
  .product-card img {
    width: 90%;
    height: auto;
    border-radius: 8px;
  }
  
  .product-card h2 {
    font-size: 30px;
    margin: 0.5rem 0;
    color: #4e4e4e;
    text-align: left;
  }
  
  .price {
    font-weight: bold;
    color: #000000;
    margin-bottom: 1rem;
    font-size: 25px;
    text-align: left;
  }
  
  .favorite, .cart {
    background: none;
    border: none;
    font-size: 50px;
    position: absolute;
    cursor: pointer;
  }
  
  .favorite {
    top: 50px;
    right: 50px;
    color: #8b0000;
  }
  
  .cart {
    bottom: 10px;
    right: 30px;
  }

 .link-branco {
    color: white; 
    text-decoration: none; 
    display: inline-block;
    width: 100%; 
    height: 100%; 
  }

  /*                          Estilos para telas menores                        */
  @media (max-width: 768px) {
    .produto-container {
        flex-direction: column;
    }
  
    .imagem-produto img {
        max-width: 100%;
    }
  
    .btn-sacola {
        font-size: 14px;
        padding: 10px;
    }
  }

  @media (max-width: 768px) {
    .produtos-ocultos {
        display: none;
      }
    }

  @media (min-width: 992px) {
    .produtos-ocultos {
      display: block;
    }
  }
  
  .product-view{
    padding: 10px;
  }


  @media (max-width: 768px) {
    .product-view {
        display: block;
      }
    }

  @media (min-width: 992px) {
    .product-view {
      display: none;
    }
  }

    @media (max-width: 768px) {
      .oculto-mobile {
          display: none;
        }
      }

    @media (min-width: 992px) {
      .oculto-mobile {
        display: block;
      }
    }

  /*                         Rodapé                        */
.footer {
  background-color: #7D2838;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.p-footer{
  color: #ffffffe7;
  font-size: 20px;
}
.footer .footer-image {
  height: 120px;
  margin-bottom: 20px;
}

.footer .social-media {
  margin-bottom: 20px;
}

.footer .social-media p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer .social-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer .social-link img {
  height: 60px;
  transition: transform 0.3s;
}

.footer .social-link img:hover {
  transform: scale(1.2);
}

.copyright {
  font-size: 15px;
  margin-top: 20px;
  color: #ffffffe7;
}
  
  