/*                                        Reset básico                                                              */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Prata, Montserrat;
    background-color: #fdfdfd;
    color: #333;
    line-height: 1.6;
}

/*                                     cabeçalho  do  menu                                               */
.top-bar {
  background-color: #8c2b44;
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 30px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background-color: #fff;
}

.main-header h1 {
  color: #8c2b44;
  font-size: 1.8rem;
}

nav a {
  color: #333;
  text-decoration: none;
  margin: 0 15px;
  font-size: 25px;
}

.search-profile {
  display: flex;
  align-items: center;
}

.search-profile form input {
  padding: 8px;
  border: 1px solid #8c2b44;
  border-radius: 24px;
  width: 140%;
}

.search-profile ul {
  display: flex;
  list-style: none;
  margin-left: 90px;
  gap: 5px;
}

.img-tamanho{
  width: 50px;
  height: auto;
}

.img-logo{
  width: 120px;
  height: auto;
}

.maria{
   width: 50px;
}

.img-seta{
  width: 40px;
  height: auto;
  position: fixed;
}
/*                                      Cabeçalho                                                 */
header {
    background-color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav.grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header img {
    height: 40px;
}

/*                              Main                                                   */
.main-image {
  width: 100%;
}

.main{
margin: 0;
padding: 20px;
}

h1 {
font-size: 130%;
color: #333;
margin-bottom: 10px;
text-align: start;
}

.preco {
font-size: 100%;
color: #333;
margin-bottom: 20px;
text-align: start;
}

.preco p {
color: rgb(0, 0, 0);
margin-top: 5px;
text-align: start;
}

.tamanho-disponivel {
margin-bottom: 20px;
text-align: start;
}

.tamanho {
background-color: #f5f5f5;
padding: 13px 20px;
font-size: 19px;
color: #333;
border-radius: 4px;
display: inline-block;
margin-top: 5px;
height: 50px;
width: 50px;
}

.descricao-1 {
font-size: 14px;
color: #808080;
margin: 5px 0;
}

.descricao p {
font-size: 14px;
color: #808080;
margin: 5px 0;
}

.submit-btn {
width: 100%;
background-color: #7b2f35;
color: white;
border: none;
padding: 20px;
font-size: 16px;
cursor: pointer;
margin-top: 24px;
}

.submit-btn .link-branco {
color: white; 
text-decoration: none; 
display: inline-block;
width: 100%; 
height: 100%; 
}

.img-responsiva{
    align-self: center;
}



    /*                                              responsivivdade                                                       */

    @media (max-width: 768px) {
    .submit-btn .link-branco  {
        display: block;
      }
    }
  @media (min-width: 992px) {
    .submit-btn .link-branco  {
      display: none;
    }
    .oculto-mobile{
      margin: 0;
    }
   }
    
  
    .oculto-desktop{
      margin: 0;
    }
  
  
    @media (min-width: 768px) {
      .container {
        max-width: 600px;
      }
    
      .confirmation-section .illustration img {
        width: 150px;
      }
    
      .view-orders-button, .continue-shopping-button {
        font-size: 18px;
        padding: 18px;
      }
    }
    
    @media (max-width: 768px){
      .oculto-mobile {
        display: none
      }
    }
  
    @media (min-width: 992px){
      .oculto-mobile {
        display: block
      }
    }
  
    @media (max-width: 768px){
      .oculto-desktop {
        display: block
      }
    }
  
    @media (min-width: 992px){
      .oculto-desktop {
        display: none
      }
    }
  
  